In [3]:
import pandas as pd

In [4]:
# Specify the file path
file_path = r'C:\Users\vjmar\Desktop\DataScience\blue-team-project-1\csv-data\anxiety-depression-data.csv'

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(file_path)

# Filter rows where the "state" column is not equal to "United States"
by_state_df = df[(df['State'] != 'United States') & (df['Group'] == 'By State') & (df['Indicator'] == 'Symptoms of Anxiety Disorder or Depressive Disorder')]

# Display the filtered DataFrame
by_state_df.head()

,Indicator,Group,State,Subgroup,Phase,Time Period,Time Period Label,Time Period Start Date,Time Period End Date,Value,Low CI,High CI,Confidence Interval,Quartile Range
159,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alabama,Alabama,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,30.3,24.8,36.2,24.8 - 36.2,25.6 - 33.3
160,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Alaska,Alaska,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,31.5,28.8,34.4,28.8 - 34.4,25.6 - 33.3
161,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Arizona,Arizona,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,36.4,32.3,40.7,32.3 - 40.7,34.8 - 36.7
162,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Arkansas,Arkansas,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,38.0,33.1,43.1,33.1 - 43.1,36.8 - 41.4
163,Symptoms of Anxiety Disorder or Depressive Dis...,By State,California,California,1,1,"Apr 23 - May 5, 2020",04/23/2020,05/05/2020,37.4,34.2,40.6,34.2 - 40.6,36.8 - 41.4

In [5]:
state_mean_df = by_state_df.groupby('State')['Value'].mean()
print(state_mean_df)

State
Alabama                 36.064516
Alaska                  34.751613
Arizona                 35.398387
Arkansas                37.530645
California              36.312903
Colorado                34.264516
Connecticut             32.808065
Delaware                31.217742
District of Columbia    33.616129
Florida                 35.353226
Georgia                 35.222581
Hawaii                  31.683871
Idaho                   32.774194
Illinois                33.716129
Indiana                 34.451613
Iowa                    31.200000
Kansas                  32.782258
Kentucky                37.311290
Louisiana               39.569355
Maine                   32.691935
Maryland                32.180645
Massachusetts           32.912903
Michigan                33.188710
Minnesota               29.111290
Mississippi             38.788710
Missouri                34.688710
Montana                 32.103226
Nebraska                30.967742
Nevada                  38.012903
New Hampshire           31.753226
New Jersey              33.309677
New Mexico              37.112903
New York                33.708065
North Carolina          33.222581
North Dakota            29.566129
Ohio                    34.124194
Oklahoma                38.145161
Oregon                  37.330645
Pennsylvania            33.888710
Rhode Island            33.040323
South Carolina          33.146774
South Dakota            28.498387
Tennessee               35.506452
Texas                   36.724194
Utah                    34.396774
Vermont                 31.543548
Virginia                32.764516
Washington              35.098387
West Virginia           37.745161
Wisconsin               29.612903
Wyoming                 32.512903
Name: Value, dtype: float64

In [6]:
state_mean_df.nlargest(3)

State
Louisiana      39.569355
Mississippi    38.788710
Oklahoma       38.145161
Name: Value, dtype: float64

In [7]:
state_mean_df.nsmallest(3)

State
South Dakota    28.498387
Minnesota       29.111290
North Dakota    29.566129
Name: Value, dtype: float64

Basic Needs 
Food Scarcity
Housing Insecurity

Financial Factors 
Employment by Industry
Unemployment
Income per Capita

Education
Public School Funding
Student Loan Debt 
Educational Attainment 

Medical Factors 
Percent of Population Insured
Medical Professionals Per Capita
Medicaid & CHIP Enrollment

In [8]:
group1_states = ['South Dakota', 'Minnesota', 'North Dakota']
group2_states = ['Louisiana', 'Mississippi', 'Oklahoma']

In [9]:
census_csv = r'C:\Users\vjmar\Desktop\DataScience\blue-team-project-1\csv-data\2022-census.csv'
census_df = pd.read_csv(census_csv)
drop_columns = ['SUMLEV', 'ESTIMATESBASE2020', 'REGION', 'STATE', 'DIVISION']
population_df = census_df[census_df['NAME'].isin(group1_states + group2_states)].drop(columns=drop_columns)
population_df

            NAME  POPESTIMATE2020  POPESTIMATE2021  POPESTIMATE2022
32     Louisiana          4651664          4627098          4590241
37     Minnesota          5709852          5711471          5717184
38   Mississippi          2958141          2949586          2940057
48  North Dakota           779518           777934           779261
50      Oklahoma          3964912          3991225          4019800
55  South Dakota           887799           896164           909824

In [10]:
south_dakota_row = census_df[census_df['NAME'] == 'South Dakota']
minnesota_row = census_df[census_df['NAME'] == 'Minnesota']
north_dakota_row = census_df[census_df['NAME'] == 'North Dakota']

louisiana_row = census_df[census_df['NAME'] == 'Louisiana']
mississippi_row = census_df[census_df['NAME'] == 'Mississippi']
oklahoma_row = census_df[census_df['NAME'] == 'Oklahoma']

south_dakota_average_population = south_dakota_row[['POPESTIMATE2020', 'POPESTIMATE2021', 'POPESTIMATE2022']].astype(int).mean(axis=1)
south_dakota_pop = round(south_dakota_average_population.values[0])

minnesota_average_population = minnesota_row[['POPESTIMATE2020', 'POPESTIMATE2021', 'POPESTIMATE2022']].astype(int).mean(axis=1)
minnesota_pop = round(minnesota_average_population.values[0])

north_dakota_average_population = north_dakota_row[['POPESTIMATE2020', 'POPESTIMATE2021', 'POPESTIMATE2022']].astype(int).mean(axis=1)
north_dakota_pop = round(north_dakota_average_population.values[0])

louisiana_average_population = louisiana_row[['POPESTIMATE2020', 'POPESTIMATE2021', 'POPESTIMATE2022']].astype(int).mean(axis=1)
lousiana_pop = round(louisiana_average_population.values[0])

mississippi_average_population = mississippi_row[['POPESTIMATE2020', 'POPESTIMATE2021', 'POPESTIMATE2022']].astype(int).mean(axis=1)
mississippi_pop = round(mississippi_average_population.values[0])

oklahoma_average_population = oklahoma_row[['POPESTIMATE2020', 'POPESTIMATE2021', 'POPESTIMATE2022']].astype(int).mean(axis=1)
oklahoma_pop = round(oklahoma_average_population.values[0])

print("Population for South Dakota:",south_dakota_pop)
print("Population for Minnesota:",minnesota_pop)
print("Population for North Dakota:", north_dakota_pop)
print(" ")

print("Population for Louisiana:", lousiana_pop)
print("Population for Mississippi:", mississippi_pop)
print("Population for Oklahoma:", oklahoma_pop)

Population for South Dakota: 897929
Population for Minnesota: 5712836
Population for North Dakota: 778904

Population for Louisiana: 4623001
Population for Mississippi: 2949261
Population for Oklahoma: 3991979